html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
article,aside,dialog,figure,footer,header,hgroup,nav,section,di{ display:block; }
nav ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
a { margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }
input,select { vertical-align:middle; }

[draggable=true] {
	-khtml-user-drag: element;
}

body{
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	min-width: 980px;
	overflow: hidden;
}
	body > header{
		background: #736F69;
		height: 93px;
		width: 100%;
		position: fixed;
		color: #FFF;
		top: 0;
		left: 0;
		text-shadow: 0 1px 1px #292623;
	}
		body > header h1{
			width: 509px;
			height: 1px;
			background: url(../images/head/title.png) no-repeat 0 2px;
			padding-top: 31px;
			overflow: hidden;
			position: absolute;
			top: 36px;
			left: 25px;
		}
			body > header h1 strong{
				position: absolute;
				top: 0;
				left: 300px;
				width: 185px;
				background: #5A5650 url(../images/head/arrow.png) no-repeat top right;
				padding: 8px 12px;
				font-size: 12px;
				line-height: 12px;
				border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				font-weight: normal;
				cursor: pointer;
			}
				body > header h1 strong:hover{
					background-color: #4f4c47;
				}
		body > header nav{
		
		}
			body > header nav ul{
				position: absolute;
				top: 0;
				right: 262px;
				width: 143px;
				height: 74px;
				border-left: 1px solid #4B4742;
				padding: 19px 0 0 36px;
				font-size: 12px;
				line-height: 1;
			}
			body > header nav li{
				margin-bottom: 6px;
			}
				body > header nav li a:after{
					content: '\A0\203A';
					font-size: 18px;
					line-height: 10px;
					position: relative;
					top: 1px;
				}
			body > header nav a{
				color: #FFF;
				text-decoration: none;
			}
				body > header nav a:hover{
					text-decoration: underline;
				}
			body > header nav #add{
				position: absolute;
				top: 0;
				right: -262px;
				border-left: 1px solid #4B4742;
				font-size: 17px;
				line-height: 17px;
			}
				body > header nav #add a{
					padding: 40px 0 0 82px;
					width: 180px;
					height: 53px;
					display: block;
					background: url(../images/button/add.png) no-repeat 41px 34px;
				}
					body > header nav #add a:hover{
						background-color: rgba(42, 42, 42, 0.33);
					}

	body > #pagebody{
		position: fixed;
		top: 94px;
		left: 0;
		width: 100%;
		background: url(../images/bg/bg.png) repeat-x bottom;
	}

#overlay{
	background: rgba(52, 51, 48, 0.95) no-repeat left bottom;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 7500;
}
	#overlay.arrow{
		background-image: url(../images/bg/halo.png);
	}

#loader{
	background: url(../images/loader.gif) no-repeat center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 15000;
	margin-top: 47px;
}

.statement-list{
	list-style-type: none;
	position: relative;
}

.statement{
	position: absolute;
	background: #FFF;
	width: 400px;
	padding: 35px 25px 15px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	cursor: move;
	z-index: 5;
	list-style-type: none;
}
	.statement.small{
		padding: 20px 20px 15px;
		width: 325px;
		z-index: 3;
	}
	.statement.medium{
		padding: 20px 20px 15px;
		width: 360px;
		z-index: 4;
	}
	.statement.dragging{
		opacity: 0.75;
		z-index: 10000;
	}
	.statement:hover{
		z-index: 6;
	}
	.statement h2{
		font-size: 24px;
		line-height: 1.2;
		color: #737373;
		font-weight: normal;
		margin-bottom: 10px;
	}
		.statement.small h2{
			font-size: 13px;
			margin-bottom: 5px;
			color: #AAA;
		}
		.statement.medium h2{
			font-size: 18px;
			margin-bottom: 7px;
			color: #999;
		}
	.statement .tag{
		cursor: pointer;
		position: absolute;
		top: -14px;
		right: 6px;
		color: #FFF;
		padding: 12px 30px 12px 10px;
		font-size: 12px;
		line-height: 1;
		font-weight: bold;
		border-radius: 5px;
		border-top-right-radius: 20px;
		-moz-border-radius: 5px;
		-moz-border-radius-topright: 20px;
		-webkit-border-radius: 5px;
		-webkit-border-top-right-radius: 20px;
		background: url(../images/bg/tag.png) no-repeat top right;
	}
		.statement.small .tag{
			font-size: 8px;
			padding: 8px 30px 8px 10px;
			top: -12px;
		}
		.statement.medium .tag{
			font-size: 10px;
			padding: 8px 30px 8px 10px;
			top: -13px;
		}
	.statement .collection-link{
		color: #AAA;
		font-size: 12px;
		text-decoration: none;
		font-weight: bold;
	}
		.statement.small .collection-link{
			font-size: 10px;
			color: #DDD;
		}
		.statement.medium .collection-link{
			font-size: 11px;
			color: #CCC;
		}
		.statement .collection-link:hover{
			color: #c60101;
		}
		.statement .collection-link:before{
			color: #c60101;
			position: relative;
			top: -1px;
		}
		.statement .add-collection:before{
			content: '\2B\A0\A0';
		}
		.statement .remove-collection:before{
			content: '\78\A0\A0';
		}

#collection{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 8000;
	background: #FFF;
	height: 10px;
	overflow: visible !important;
}
	#collection > header{
		font-size: 15px;
		line-height: 1;
		color: #5c5a5a;
		position: relative;
		width: 220px;
		height: 34px;
	}
		#collection > header h1{
			font-weight: bold;
			position: absolute;
			top: -34px;
			left: 39px;
			width: 125px;
			height: 23px;
			background: #FFF url(../images/icon/arrow.png) no-repeat 21px 9px;
			border-radius: 5px 0 0 5px;
			-moz-border-radius: 10px 10px 0 0;
			-webkit-border-radius: 10px 10px 0 0;
			padding: 11px 0 0 48px;
			cursor: pointer;
		}
			#collection > header h1.hover{
				background: #5c5a5a;
				color: #FFF;
			}
		#collection > header h2{
			background: url(../images/bg/badge.png);
			position: absolute;
			top: -42px;
			right: 0;
			display: table-cell;
			width: 26px;
			height: 18px;
			padding-top: 8px;
			color: #FFF;
			font-size: 10px;
			text-align: center;
			vertical-align: middle;
			-webkit-transform: rotate(10deg); 
			-moz-transform: rotate(10deg);
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
		}
	#collection > div{
		background: #FFF;
	}

.dragging{
	z-index: 8000;
}

#next, #prev{
	display: block;
	text-indent: -999em;
	overflow: hidden;
	width: 34px;
	height: 69px;
	background: url(../images/button/arrows.png) no-repeat;
	z-index: 5000;
	position: fixed;
	top: 50%;
}
	#prev{
		background-position: 0 0;
		left: 25px;
	}
		#prev:hover{
			background-position: 0 -69px;
		}
	#next{
		background-position: -34px 0;
		right: 25px;
	}
		#next:hover{
			background-position: -34px -69px;
		}