{% extends "admin/change_list.html" %}
{% block extrastyle%}
  {{block.super}}
  <style type="text/css">
     a#import-link { 
         -moz-border-radius:32px 32px 32px 32px;
         background:none repeat scroll 0 0 #417690;
         color:#FFFFFF;
         display:block;
         float:none;
         font-size:10px;
         font-weight:bold;
         height:16px;
         line-height:16px;
         padding:0;
         position:absolute;
         right:140px;
         text-align:center;
         top:71px;
         width:128px;
         z-index:100;
     }
  </style>
{% endblock %}

{% block content %}
  <a id="import-link" href="{%url admin:statements_statement_import%}">Import Statements</a>
  {{block.super}}
{% endblock %}
