{% extends "admin/base_site.html" %}
{% load adminmedia %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    <style type="text/css">
        .statement input, .tag input, .statement a, .tag a {display: none;}
        .statement input.show, .tag input.show, .statement a.show, .tag a.show {display: inline;}
        .statement input.show, .tag input.show {width: 95%; }
        .statement a.show, .tag a.show  { padding-left: 10px;}
        thead th a:link, thead th a:visited { color: #5B80B2;}
    </style>
    <script type="text/javascript" src="{{MEDIA_URL}}scripts/jquery.min.js"></script>
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">Home</a> &rsaquo;
     <a href="../../">Statement</a> &rsaquo;
     <a href="../">Statements</a> &rsaquo; 
     {{title}}
</div>
{% endif %}{% endblock %}
{% block content %}
<form action="{%url admin:statements_statement_process%}" method="post">{%csrf_token%}
    <input type="hidden" name="count" value="{{records|length}}">
<table>
    <thead>
        <tr>{%ifequal type 'url'%}<th><a href="#" title="click to toggle all">Include</a></th>{%endifequal%}<th colspan="2">Statement</th><th>Tag</th><th>Decoding Error</th></tr>
    </thead>
    <tbody>
        {%for statement, tag, decoding_problem in records%}
        <tr>
            {%ifequal type 'url'%}<td><input type="checkbox" name="p{{forloop.counter}}" value="1" checked="true"></td>{%endifequal%}
            <td>#{{forloop.counter}}</td>
            <td class="statement"><span>{{statement}}</span><input type="text" name="s{{forloop.counter}}" value="{{statement}}"><a href="#">[ok]</a></td>
            <td class="tag"><span>{{tag}}</span><input type="text" name="t{{forloop.counter}}" value="{{tag}}"><a href="#">[ok]</a></td>
            <td>
                {%if decoding_problem%}<img src="{%admin_media_prefix%}/img/admin/icon-no.gif" title="problems found">{%endif%}
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<div class="submit-row" {% if is_popup %}style="overflow: auto;"{% endif %}>
    <input type="submit" value="Save" class="default" name="_save"/>
</div>
</form>
<script type="text/javascript">
    var all_checked = true;
    var editables = $("td.statement, td.tag");
    editables.each(function() {
        var row = $(this);
        row.find("a").click(function() {
           row.find("input, a").removeClass("show");
           var updated_text = row.find("input").attr("value");
           row.find("span").text(updated_text).show();
        });
        row.find("span").click(function(){
            row.find("input, a").addClass("show");
            $(this).hide();
        })
    });
    
    $("th a").click(function(evt){
        evt.preventDefault();
        if (all_checked) {
            $("input[type='checkbox']").attr('checked', '');
            all_checked = false;
        } else {
            $("input[type='checkbox']").attr('checked', 'true');
            all_checked = true;
        }
    });
</script>
{%endblock%}

